**Zuyin Penelas Ramos - Data Analyst at Data Processing**

*Python Assessment*

**OVERALL FEEDBACK**

In general, I noticed that the questions allign with the main core goals and vision for our team, as they cover various aspects of Python fundamentals, Pandas, and data processing for market research. The level of questions are progressively increasing, I consider they are well structured and assess the candidate's knowledge and skills in these areas.
In the responses provided below, I included clarification questions that could help the candidate better understand the question, by providing a more specific example. 
In some questions, I also added a sample dataframe or specific scenario to provide context and make the excercise more realistic. 
I also added a short feedback/suggestion in some other questions.

In total, it took around me around 1.5h - 2h to complete - Time per question has been specified independently per question below, along with the source if used. I believe part of the time I consumed was given by thinking on edge cases that could affect the outputs from the functions I built, and creating the dataframes/situations for testing.

**RESPONSES**

***
**Section 1: Python Fundamentals**
***

**Question 1:	What is a Python list, and how is it different from a tuple? Provide an example of each.**

- *time: 1min*      

- *Source: Closed book*

Answer:

*Python list* is a sequence of elements that could have the same or different data type, that can be accessed, mutable and deleted. It is visually represented with square brackets. It uses a lot of memory and it runs slower than a tuple. It accepts more built-in functions that allow for elements to be modified. 

List = []

*Python tuple* is a also a sequence of elements with the same or heterogenous data type, that can be accessed by the index, but it cannot be deleted or modified. It is represented with parenthesis. It uses less memory than a list. It is recommended for static data that does not change. Has a more limited list of built-in functions.

Tuple = ()

**Question 2: Explain the difference between shallow and deep copies in Python. How would you create a deep copy of a list?**

- *time: 3min*      

- *Source: Response produced independently, after reviewing the concepts on Ipsos Facto*

A **shallow copy** creates a copy based on references to an original object. With that said, if an element of the copied object changes, it will also affect the original object. It is cheaper in terms of memory use with respect to make a deep copy.

To create a shallow copy:
Shallow_copied_list = copy.copy(original_list)

On the other hand, a **deep copy** makes an independent copy of the object, that allows for changes to be made to the copied object without affecting the original. It is more expensive in terms of memory use.

To create a deep copy:
Deep_copied_list = copy.deepcopy(original_list)

**Question 3:	Write a Python function that takes a list of integers and returns the second largest number.**

- *time: 5 min*      

- *Source: Closed book*

In [2]:
# Question 3: Python function that takes a list of integers and returns the second largest number.
'''
    Additional questions:
    When you refer second largest, the assumption is that all numbers are unique values and we will select the second largest number, or if we have duplicates, the second element of the list could potentially match the first largest number?
    We are running on the assumpion that the list only contains numbers. Should I account for the situation whether we have an heterogenous list in terms of data types?
'''
def check_integers(list_num: list):
    set_int = set()
    for item in list_num:
        if type(item) != int:
            continue
        set_int.add(item)
    return set_int
            

def second_largest(list_num: list):
    list_int = check_integers(list_num)
    sorted_list = sorted(list_int, reverse = True) # sorting the list of unique values in a descending order
    second_largest = sorted_list[1] # retrieve the second largest number
    # print(sorted_list)

    return second_largest

list_num = [0,4,1024,'p',2,0,8,23,12,-1]
second_largest(list_num)

23

**Question 4: What is the difference between == and is in Python? Provide examples of when to use each.**

- *time: up to 1min*      

- *Source: Closed book*

Answer:

== establishes a value that a variable needs to be equal as, whereas “is in” relates to whether that variable is included in a sequence of elements

For instance:

value = 80

if value == 80: --> creates a condition that would be True only if the value is strictly equal to 80, otherwise it would be triggered as False. In this example, it would be True, as the value given is 80

if value isin range(0,81) --> is a condition that evaluates if the value is included in any of the elements of the list form 0 to 80. In this example it would be True.

in the scenario where:
value = 70

if value == 80: -->  False

if value isin range(0,81) --> True

**Question 5:	Explain how exceptions are handled in Python. Write a function that divides two numbers, returning None if the divisor is zero.**

- *time: 2 min*      

- *Source: Closed book*

Answer:

To handle exceptions, Python uses block as try and except, where try contains the code that might raise an exception. If an exception occurs, the rest of the try block is skipped and the except block is executed. And except: catches and handles the exception. A message can be customized to print to make the understanding of the error clearer.

In [5]:
# Question 5: Write a function that divides two numbers, returning None if the divisor is zero

def division_by_zero(a: int,b: int):
    try:
        result = a/b
        return f'The result is {result}'
    except:
        return f'None: This divisor cannot be zero'
    
a = 0
b = 0
division_by_zero(a,b)

'None: This divisor cannot be zero'

***
**SECTION 2: Pandas and Data Manipulation**
***

In [6]:
import pandas as pd
import numpy as np

**Question 6: Given a DataFrame df with columns ['Country', 'Product', 'Sales', 'Date'], write code to filter rows where Country is 'USA' and Sales are greater than 1000.**

- *time: 4-5 min*      

- *Source: Closed book*

In [7]:
data = {'Country': ['USA', 'FR', 'USA', 'CA'],
        'Product': ['phone','phone', 'phone', 'phone'],
        'Sales':[3000,2000,1000,200],
        'Date':['2024-10-24','2024-10-24','2024-10-24','2024-10-24'],
        'ProductID':['1','2','3','4']}

def sales_in_country(data):
    data_df = pd.DataFrame(data)
    data_df_restricted = data_df[(((data_df['Country'] == 'USA')) & (data_df['Sales'] > 1000))]
    return data_df_restricted

sales_in_country(data)

  Country Product  Sales        Date ProductID
0     USA   phone   3000  2024-10-24         1

**Question 7: Explain the purpose of the groupby() function in Pandas. How would you use it to group the data in df by Country and calculate the total Sales for each country?**

- *time: 2-3min*      

- *Source: Closed book*

The purpose of the groupby() function in pandas allows to group data that corresponds to a same category and perform aggregation by group.

In [8]:
# Question 7: group the data in df by Country and calculate the total Sales for each country

def total_variable_per_group(data, group:str, variable:str):
    '''
    Returns the total sum of the 'variable' grouped by 'group'
    For instance: If the purpose is to calculate the total sales per country:
        group = 'Country'
        variable  = 'Sales'
    '''
    data_df = pd.DataFrame(data)
    sales_per_country = data_df.groupby(group).sum(variable)

    return sales_per_country

total_variable_per_group(data, 'Country', 'Sales')

         Sales
Country
CA         200
FR        2000
USA       4000

**Question 8:	You have two DataFrames, df1 and df2, where both have a column ID. Write code to merge these two DataFrames on the ID column.**

- *time: 2-3min*      

- *Source: Closed book*

In [10]:
data2 = {'Brand': ['Samsung', 'iPhone', 'Google', 'Motorola'],
        'ProductID':['1','2','3','4']}

def merge_df(data1, data2, columnid: str):
    data_df1 = pd.DataFrame(data1)
    data_df2 = pd.DataFrame(data2)
    data_merged = pd.merge(data_df1,data_df2, on = columnid)

    return data_merged

merge_df(data, data2, 'ProductID')

  Country Product  Sales        Date ProductID     Brand
0     USA   phone   3000  2024-10-24         1   Samsung
1      FR   phone   2000  2024-10-24         2    iPhone
2     USA   phone   1000  2024-10-24         3    Google
3      CA   phone    200  2024-10-24         4  Motorola

**Question 9:	What is the difference between apply(), map(), and applymap() in Pandas? Provide a use case for each.**

- *time: 1min*      

- *Source: Closed book*

Answer:


These are functions that apply another function to the entire dataset (as applymap()) or restricted to a series (as map()). Apply() will be the used in both levels, series and dataframe. In general, I have noticed them the are combined with lambda method.

**Question 10: Write a Python script using Pandas to handle missing data in a DataFrame. Specifically, fill missing numerical values with the column’s mean and drop rows where non-numerical values are missing.**

- *time: 10-15 min (tried to think the full logic through) - presented 2 possible scenarios I could think of*    

- *Source: Closed book*

Answer:

In [15]:
# Question 10: Write a Python script using Pandas to handle missing data in a DataFrame. Specifically, fill missing numerical values with the column’s mean and drop rows where non-numerical values are missing.
'''
# Aditional question

Would we want to fill the numerical missing values with the average of the remaining values within the same column before of after dropping the rows that contain non-numerical missing values? 
'''
# SCENARIO 1

#Solving the problem under assumption rows with missing non-numerical missing values are dropped first

data = {'Country': ['USA', 'FR', None, 'CA','USA'],
        'Product': ['phone','phone', 'phone', None,'phone'],
        'Sales':[3000,None,1000,200,5000],
        'Date':[None,'2024-10-24','2024-10-24','2024-10-24','2024-10-24'],
        'ProductID':['1','2','3','4','5']}

def handle_missing_data_sol1(data):
        data_df_1 = pd.DataFrame(data)
        df_columns = data_df_1.columns.to_list()

        for column in df_columns: # to first deal with the objects 
                column_str = str(column)
                if data_df_1[column_str].dtype == object:
                        data_df_1 = data_df_1.dropna(subset=[column_str])
                
        for column in df_columns: # to deal with numeric calculations last
                column_str = str(column)
                if data_df_1[column_str].dtype == float:
                        data_df_1[column_str] = data_df_1[column_str].fillna(data_df_1[column_str].mean())
        
        return data_df_1

print('This is that result when deleting rows containing missing non-numerical values first adn then calcualting the averages')
handle_missing_data_sol1(data)

This is that result when deleting rows containing missing non-numerical values first adn then calcualting the averages

  Country Product   Sales        Date ProductID
1      FR   phone  5000.0  2024-10-24         2
4     USA   phone  5000.0  2024-10-24         5

In [16]:
# Question 10: Write a Python script using Pandas to handle missing data in a DataFrame. Specifically, fill missing numerical values with the column’s mean and drop rows where non-numerical values are missing.
# Solution when averages are calculated first

# SCENARIO 2

def handle_missing_data_sol2(data):
        data_df = pd.DataFrame(data)
        df_columns = data_df.columns.to_list()

        for column in df_columns: # to deal with numeric calculations first
                column_str = str(column)
                if data_df[column_str].dtype == float:
                        data_df[column_str] = data_df[column_str].fillna(data_df[column_str].mean())

        for column in df_columns: # to deal last with the objects 
                column_str = str(column)
                if data_df[column_str].dtype == object:
                        data_df = data_df.dropna(subset=[column_str])

        return data_df

print('This is that result when calculating the mean of numerical values first and then deleting the rows containing missing non-numerical values')
handle_missing_data_sol2(data)

This is that result when calculating the mean of numerical values first and then deleting the rows containing missing non-numerical values

  Country Product   Sales        Date ProductID
1      FR   phone  2300.0  2024-10-24         2
4     USA   phone  5000.0  2024-10-24         5

**Question 11: Given a DataFrame with a Date column, how would you extract the month and year from the date and add it as two new columns?**

- *time: 5-7 min*      

- *Source: Closed book, but look into better practices*

Answer:

In [11]:
# Question 11: Given a DataFrame with a Date column, how would you extract the month and year from the date and add it as two new columns?
from datetime import datetime
datetime.strptime('2011-03-07','%Y-%m-%d')

data = {'Country': ['USA', 'FR', 'CA','USA', 'AU'],
        'ProductID':['1','2','3','4','5'],
        'Sales':[3000,2000,1000,200,5000],
        'Date':['2024-10-23','2024-04-09','2024-03-24','2024-01-15','2024-08-24']
        }

def extract_date(data, date_column:str):
    data_df = pd.DataFrame(data)
    data_df[date_column] = pd.to_datetime(data[date_column])
    data_df['Year'] = data_df[date_column].dt.year
    data_df['Month'] = data_df[date_column].dt.month

    return data_df

extract_date(data, 'Date')

  Country ProductID  Sales       Date  Year  Month
0     USA         1   3000 2024-10-23  2024     10
1      FR         2   2000 2024-04-09  2024      4
2      CA         3   1000 2024-03-24  2024      3
3     USA         4    200 2024-01-15  2024      1
4      AU         5   5000 2024-08-24  2024      8

**Question 12:	Explain the purpose of pivot_table() in Pandas. How would you use it to create a summary table showing the average Sales for each Product and Country?**

- *time: 5 min*      

- *Source: Pandas documentation - I learned this new! I had never created a pivot table in Pandas. I think this was a very nice question*

Answer:

In [24]:
data = pd.DataFrame({'Country': ['USA', 'FR', 'CA','USA', 'AU'],
        'ProductID':['1','1','2','2','2'],
        'Sales':[3000,2000,1000,200,5000],
        'Date':['2024-10-23','2024-04-09','2024-03-24','2024-01-15','2024-08-24']
        })

def summary_table(data,group1:str,group2:str,variable:str,aggregation:str):
    summary_table = data.pivot_table(index = group1, columns = group2, values = variable, aggfunc = aggregation)
    return summary_table


summary_table(data,'ProductID','Country','Sales','mean')

Country        AU      CA      FR     USA
ProductID
1             NaN     NaN  2000.0  3000.0
2          5000.0  1000.0     NaN   200.0

**Question 13: Write Pandas code to convert a column of string dates in the format MM/DD/YYYY to datetime objects. How would you ensure that the column is set as the index of the DataFrame?**

- *time: 1-2 min*      

- *Source: Closed book*

Answer:

In [12]:
data = {'Country': ['USA', 'FR', 'CA','USA', 'AU'],
        'ProductID':['1','2','3','4','5'],
        'Sales':[3000,2000,1000,200,5000],
        'Date':['2024-10-23','2024-04-09','2024-03-24','2024-01-15','2024-08-24']
        }

def set_date_as_index(data, date_field:str):
    data_df = extract_date(data, 'Date').set_index(date_field)
    return data_df

set_date_as_index(data, 'Date')

           Country ProductID  Sales  Year  Month
Date
2024-10-23     USA         1   3000  2024     10
2024-04-09      FR         2   2000  2024      4
2024-03-24      CA         3   1000  2024      3
2024-01-15     USA         4    200  2024      1
2024-08-24      AU         5   5000  2024      8

***
**Section 3: Data Processing for Market Research**
***

**Question 14: In market research, data can often be incomplete or messy. How would you handle a dataset with 10% missing responses for a survey question? Provide your reasoning**

- *time: 5-7 min*      

- *Source: Closed book + Internet browsing to find specific concept definitions in English*

Answer:

It is true that data can be messy, and there are cases where all the responses are not collected. I think the first step should involve an comprehensive analysis of the missing data, meaning checking if there are any patterns in the responses that are missing, whether the missing responses are concentrated in a particular demographic group. If there are patterns, I would contact the experts team and share the findings, in case that data could be potentially accessed. In a negative scenario, where we have that percentage of mising data, I think it would be necessary to evaluate if the missing data is significant or determinant for the study. If not, these respondents could be excluded. Otherwise, other techniques could be applied, such as filling the missing values with the mean or median of the sample. If the sample is segemntated by groups, instead of filling the missing values with the overall mean, we could calculate the average for the respective groups that share similar characteristics (KNN). After proceeding with the decision to either exclude, or fill the missing values with data, I would document the transformations in place.

**Question 15: Given a large dataset with survey results, describe how you would identify and handle outliers in a column containing numerical data (e.g., age of respondents).**

- *time: 3-5 min*      

- *Source: Closed book + Internet browsing to find specific concept definitions in English*

Answer: 

There are global outliers - isolated data points from the body of the data - and contextual outliers - harder to detect because the condition of being an outlier depends on a specific context, for example a datapoint with value 150 could be considered an outlier in an age question but not in a price question, therefore additional conditions may apply to detect whether this datapoint is indeed an outlier.

There are different techniques to deal with a confirmed outliers:
Removal - Removes the data point entirely from the dataset.
Transformation - Trasform the data to aleviate the effect of the outliers, for instance: scaling(normalizing the data), winzorizing (replace the data with the nearest no-outlier value), log transformation (to soften the impact of extreme values in the data), capping (determine a range and capping the values to those pre-determined limits)

**Question 16: Explain the process of normalizing or scaling data. Why is it important in market research, and how would you implement it using Pandas?**

- *time: 7-10 min*      

- *Source: Closed book + Codey(Ipsos Facto) to provide a Pandas code - not familiar with normalization in Pandas*

Answer:

I understand by normalizing or scaling the data to get all the variables in a data to a similar scale where values can be considered comparables. In this sense, this technique is indeed very important to market research, as it faciliates the data management, analysis, and interpretation. It makes it easier to identify patterns, trends and relationships accross the data. 

As I have not been exposed to any data normalization, I used Codey (through Ipsos Facto) to provide an example on how to use pandas to implement one case of normalization -  This example would create a normalized dataFrame where the mean of each feature is zero and their standard deviation is 1

In [79]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Create a sample DataFrame
df = pd.DataFrame({
    "Age": [20, 30, 40, 50, 60],
    "Height": [1.6, 1.7, 1.8, 1.9, 2.0],
    "Weight": [60, 70, 80, 90, 100]
})

# Create a StandardScaler object
scaler = StandardScaler()

# Fit the scaler to the data
scaler.fit(df)

# Transform the data
normalized_df = scaler.transform(df)

# Print the normalized data
print(pd.DataFrame(normalized_df, columns = df.columns))

        Age    Height    Weight
0 -1.414214 -1.414214 -1.414214
1 -0.707107 -0.707107 -0.707107
2  0.000000  0.000000  0.000000
3  0.707107  0.707107  0.707107
4  1.414214  1.414214  1.414214

**Question 17: You have a dataset where respondents can select multiple answers to a survey question (e.g., favorite hobbies). How would you transform this column, containing comma-separated values, into a format that allows easy analysis (hint: one-hot encoding)?**

- *time: 3-5 min*      

- *Source: Closed book. Response given with my knowledge, although I looked up for the definition on one-hot encoding(not familiar with this terminology)*

- *Feedback: While the suggestion of using one-hot encoding is appropriate, it would be helpful to provide a brief explanation of the technique and how it works, in case applicant is not familiar with the technical term.*

Answer:

In order to deal with categorical questions (that allow mutliple selection), I would separate all the possible options into multiple columns (where one column would be corresponding to one of the possible categories - one column per category) and assign the values 0 or 1, where 1 would be assigned to those categories selected by each respondent otherwise a 0 would be in place. These method would facilitate later aggregations per category in the question.

**Question 18: Market research often involves comparing results across time periods. Write Pandas code to calculate the year-over-year change in Sales from the Date column of a DataFrame.**

- *time: 5 min*      

- *Source: Closed book*

*I am assuming that the change year over year is expected to be calculated in percentage point*

In [75]:
data = pd.DataFrame({
    'Date':['2022-10-23','2023-10-09','2024-10-24','2018-10-15','2019-10-24', '2020-10-03','2021-10-03'],
    'Sales':[3000,2000,1000,200,5000,7000,500]        
})

data.head()

def change_yoy(data, sort_column:str, values: str):
    data_sorted = data.sort_values([sort_column])
      
    data_sorted['change_yoy'] = data_sorted[values].pct_change().apply(lambda c: round(c, 2)).fillna(0).astype(str) + ' %'

    return data_sorted

change_yoy(data,'Date', 'Sales')

         Date  Sales change_yoy
3  2018-10-15    200      0.0 %
4  2019-10-24   5000     24.0 %
5  2020-10-03   7000      0.4 %
6  2021-10-03    500    -0.93 %
0  2022-10-23   3000      5.0 %
1  2023-10-09   2000    -0.33 %
2  2024-10-24   1000     -0.5 %

***
**Section 4: Problem Solving and Optimization**
***

**Question 19:	You are working with a large dataset that doesn’t fit in memory. Describe how you would handle this situation in Python using Pandas. What strategies would you use to process the data efficiently?**

- *time: 5 min*      

- *Source: Closed book*

In order to handle optimization challenges, there are a few solutions that Pandas offer:

Pandas is very powerful to use while dealing with dataframes, that are less memory intense, and decrease processing time. 

- In order to use Pandas functionalities correctly, is important to fully understand the data, to accurately select the most convenient data structure. 
- Simultaneously, Pandas operates in a vectorized manner, that means that we can apply function to an entire array without needing to create unnecessary forloops. 
- Pandas allows for the use of indexing and slicing, which allows to use a specific row or column without needing to create unnecessary copies of the dataframe, saving space in memory. 
- Using the methods suggested above, such as group_by(), apply(), merge(), and others.

**Question 20:	A market research report requires you to analyze a dataset with millions of rows. Write Python code that uses Pandas to calculate the mean and standard deviation of a specific column ('Sales') in chunks to avoid memory issues.**

- *time: 10-15 min*      

- *Source: Ipsos Facto - I was not familiar with the concept of chunks- Have not used it yet. Very insightful! I loved this question*

In [83]:
def mean_std_per_chunks(filename, chunk_size:int, variable:str):

    # Initiate the lists to store the mean and the standard deviation per chunk read
    chunks_mean = []
    chunks_std = []

    # Iterate over the chunks, and proceed with the corresponding calculations

    for chunk in pd.read_csv(filename, chunksize = chunk_size):
        # Calculate the mean and std per chunk
        mean = chunk[variable].mean()
        std = chunk[variable].std()

        # Append individual chunk mean and std to the global lists previously created
        chunks_mean.append(mean)
        chunks_std.append(std)
    
    # Calculate the overall mean and standard deviation for the global mean and standard deviation global lists previously created
    mean_overall = sum(chunks_mean)/len(chunks_mean)
    std_overall = sum(chunks_std)/len(chunks_std)

    return f'The {variable} mean is {mean_overall}, and the {variable} standard deviation is {std_overall}'